/* STYLES.CSS */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: orange !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: light;
}

.main-container {
  max-width: 600px;
  width: 100%;
}

.input-container {
  display: flex;
  gap: 1rem;
}

button {
  width: 200px;
}

.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px);
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translate(2px);
  }
  100% {
    transform: translate(0);
  }
}
